In [1]:
import pandas as pd
from sklearn import preprocessing

loan_train = pd.read_csv("train.csv")
loan_train.head(4)

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Grade,Sub Grade,Employment Duration,...,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,65087372,10000,32236,12329.36286,59,BAT2522922,11.135007,B,C4,MORTGAGE,...,2.498291,0.793724,0,INDIVIDUAL,49,0,31,311301,6619,0
1,1450153,3609,11940,12191.99692,59,BAT1586599,12.237563,C,D3,RENT,...,2.377215,0.974821,0,INDIVIDUAL,109,0,53,182610,20885,0
2,1969101,28276,9311,21603.22455,59,BAT2136391,12.545884,F,D4,MORTGAGE,...,4.316277,1.020075,0,INDIVIDUAL,66,0,34,89801,26155,0
3,6651430,11170,6954,17877.15585,59,BAT2428731,16.731201,C,C3,MORTGAGE,...,0.107020,0.749971,0,INDIVIDUAL,39,0,40,9189,60214,0

In [2]:
loan_train.isnull().sum()

ID                              0
Loan Amount                     0
Funded Amount                   0
Funded Amount Investor          0
Term                            0
Batch Enrolled                  0
Interest Rate                   0
Grade                           0
Sub Grade                       0
Employment Duration             0
Home Ownership                  0
Verification Status             0
Payment Plan                    0
Loan Title                      0
Debit to Income                 0
Delinquency - two years         0
Inquires - six months           0
Open Account                    0
Public Record                   0
Revolving Balance               0
Revolving Utilities             0
Total Accounts                  0
Initial List Status             0
Total Received Interest         0
Total Received Late Fee         0
Recoveries                      0
Collection Recovery Fee         0
Collection 12 months Medical    0
Application Type                0
Last week Pay                   0
Accounts Delinquent             0
Total Collection Amount         0
Total Current Balance           0
Total Revolving Credit Limit    0
Loan Status                     0
dtype: int64

In [3]:
loan_train.shape

(67463, 35)

In [4]:
loan_train['Grade'] = loan_train['Grade'].map({'A': 1, 'B': 2, 'C':3, 'D':4, 'E':5, 'F':6, 'G':7})
loan_train['Sub Grade'] = loan_train['Sub Grade'].map({'A1': 11, 'A2': 12, 'A3':13, 'A4':14, 'A5':15,
                                            'B1':21, 'B2':22, 'B3':23, 'B4':24, 'B5':25,
                                            'C1':31, 'C2':32, 'C3':33, 'C4':34, 'C5':35,
                                            'D1':41, 'D2':42, 'D3':43, 'D4':44, 'D5':45,
                                            'E1':51, 'E2':52, 'E3':53, 'E4':54, 'E5':55,
                                            'F1':61, 'F2':62, 'F3':61, 'F4':64, 'F5':65,
                                            'G1':71, 'G2':72, 'G3':71, 'G4':74, 'G5':75})
loan_train['Employment Duration'] = loan_train['Employment Duration'].map({'MORTGAGE':0, 'RENT':1, 'OWN':2})
loan_train['Verification Status'] = loan_train['Verification Status'].map({'Not Verified':0, 'Verified':1, 'Source Verified':2})
loan_train['Application Type'] = loan_train['Application Type'].map({'INDIVIDUAL':0, 'JOINT':1})
loan_train['Initial List Status'] = loan_train['Initial List Status'].map({'w':0, 'f':1})
loan_train['Payment Plan'] = loan_train['Payment Plan'].map({'n':0})
loan_train['Batch Enrolled'] = loan_train['Batch Enrolled'].apply(lambda x: int(x[3:]))
loan_train["Loan Title"] = loan_train["Loan Title"].apply(lambda x: x.lower())
label_encoder = preprocessing.LabelEncoder()
loan_train['Loan Title'] = label_encoder.fit_transform(loan_train['Loan Title'])

In [5]:
loan_train.head(4)

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Grade,Sub Grade,Employment Duration,...,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,65087372,10000,32236,12329.36286,59,2522922,11.135007,2,34,0,...,2.498291,0.793724,0,0,49,0,31,311301,6619,0
1,1450153,3609,11940,12191.99692,59,1586599,12.237563,3,43,1,...,2.377215,0.974821,0,0,109,0,53,182610,20885,0
2,1969101,28276,9311,21603.22455,59,2136391,12.545884,6,44,0,...,4.316277,1.020075,0,0,66,0,34,89801,26155,0
3,6651430,11170,6954,17877.15585,59,2428731,16.731201,3,33,0,...,0.107020,0.749971,0,0,39,0,40,9189,60214,0

In [6]:
loan_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67463 entries, 0 to 67462
Data columns (total 35 columns):
ID                              67463 non-null int64
Loan Amount                     67463 non-null int64
Funded Amount                   67463 non-null int64
Funded Amount Investor          67463 non-null float64
Term                            67463 non-null int64
Batch Enrolled                  67463 non-null int64
Interest Rate                   67463 non-null float64
Grade                           67463 non-null int64
Sub Grade                       67463 non-null int64
Employment Duration             67463 non-null int64
Home Ownership                  67463 non-null float64
Verification Status             67463 non-null int64
Payment Plan                    67463 non-null int64
Loan Title                      67463 non-null int32
Debit to Income                 67463 non-null float64
Delinquency - two years         67463 non-null int64
Inquires - six months           67463 non-null int64
Open Account                    67463 non-null int64
Public Record                   67463 non-null int64
Revolving Balance               67463 non-null int64
Revolving Utilities             67463 non-null float64
Total Accounts                  67463 non-null int64
Initial List Status             67463 non-null int64
Total Received Interest         67463 non-null float64
Total Received Late Fee         67463 non-null float64
Recoveries                      67463 non-null float64
Collection Recovery Fee         67463 non-null float64
Collection 12 months Medical    67463 non-null int64
Application Type                67463 non-null int64
Last week Pay                   67463 non-null int64
Accounts Delinquent             67463 non-null int64
Total Collection Amount         67463 non-null int64
Total Current Balance           67463 non-null int64
Total Revolving Credit Limit    67463 non-null int64
Loan Status                     67463 non-null int64
dtypes: float64(9), int32(1), int64(25)
memory usage: 17.8 MB

In [7]:
drop_elements = ['ID', 'Accounts Delinquent', 'Payment Plan']
loan_train = loan_train.drop(drop_elements, axis = 1)

In [8]:
loan_train.to_csv("Prepared_train.csv",index=False)
print("Task Complete... File is now ready to use.")

Task Complete... File is now ready to use.

In [9]:
print("Now Please run Loan.ipynb file")

Now Please run Loan.ipynb file